<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.wing.mapper.BlogMapper">
    <!--添加记录-->
    <insert id="addBlog" parameterType="blog">
        insert into wing.blog(id,title,author,create_time,views)
        values (#{id},#{title},#{author},#{createTime},#{views})
    </insert>

    <!--查询所有记录-->
    <select id="getBlogList" resultType="blog">
        select * from wing.blog
    </select>

    <!--根据条件查询1-->
<!--    <select id="queryBlogByIf" parameterType="map" resultType="blog">-->
<!--        select * from wing.blog where 1=1-->
<!--        <if test="author != null">-->
<!--            and author = #{author}-->
<!--        </if>-->
<!--        <if test="title != null">-->
<!--            and title = #{title}-->
<!--        </if>-->
<!--    </select>-->
    <select id="queryBlogByIf" parameterType="map" resultType="blog">
        select * from wing.blog
        <where>
            <if test="author != null">
                and author = #{author}
            </if>
            <if test="title != null">
                and title = #{title}
            </if>
        </where>
    </select>

    <!--根据条件查询2-->
    <select id="queryBlogByChoose" parameterType="map" resultType="blog">
        select * from wing.blog
        <where>
            <choose>
                <when test="author != null">
                    author = #{author}
                </when>
                <when test="title != null">
                    and title = #{title}
                </when>
                <otherwise>
                    and views = #{views}
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>